<!-- Top navigation -->
<nav class="navbar fixed-top flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/register-student">
    <img class="brand-logo" src="../../../assets/Logo.png" alt="positronX.io Logo">
    <span class="dasboard-text">Dashboard</span>
  </a>
</nav>

<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['../dashboard']">
              <i class="fas fa-user"></i>Property
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['../roommates']">
              <i class="fas fa-user"></i>Roommates
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['../features']">
              <i class="fas fa-user"></i>Features
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Roommate</h1>
        </div>
        <div class="container-fluid"
          style='background-image: url(../../../../../assets/image.png); background-repeat: no-repeat; height: 600px;'>
          <div style='overflow: scroll; width: 100%; height:100%; position: relative'>
            <div
              style='height: 40%; width: 80%; margin-top:5%; margin-left:10%;background-color: white; display: inline-block;'>
              <div style='width: 30%;  height: 100%; float: left;'>
                <img style="max-height: 233px;" src="../../../assets/person1.jpg">
              </div>
              <div style='width: 70%;  height: 70%; background-color: lightgrey; float: left;'>
                <p style='margin: 5%;'>William Henry Gates III (born October 28, 1955) is an American business magnate,
                  investor, author, philanthropist, and humanitarian. He is best known as the principal founder of
                  Microsoft Corporation.[2][3] During his career at Microsoft, Gates held the positions of chairman, CEO
                  and chief software architect, while also being the largest individual shareholder until May 2014.
                </p>
              </div>
              <div style='width: 70%;  height: 30%; background-color: lightgrey; float: left;'>
                <p style="margin:5%; float:left;">Rating</p>
                <star-rating value="4" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false"
                  style='margin-top:4%;float: left;' (rate)="onRate($event)"></star-rating>
                <button class='btn-primary btn' style='margin:5%; float: right;'>Pair Up</button>
              </div>
            </div>
            <div
              style='height: 40%; width: 80%; margin-top:5%; margin-left:10%;background-color: white; display: inline-block;'>
              <div style='width: 30%;  height: 100%; float: left;'>
                <img style="max-height: 233px;" src="../../../assets/person2.jpg">
              </div>
              <div style='width: 70%;  height: 70%; background-color: lightgrey; float: left;'>
                <p style='margin: 5%;'>Elon Reeve Musk FRS (/ˈiːlɒn/; born June 28, 1971) is a technology entrepreneur,
                  investor, and engineer.[4][5][6] He holds South African, Canadian, and U.S. citizenship and is the
                  founder, CEO, and lead designer of SpaceX;[7] co-founder, CEO, and product architect of Tesla,
                  Inc.;[8] co-founder of Neuralink; founder of The Boring Company
                </p>
              </div>
              <div style='width: 70%;  height: 30%; background-color: lightgrey; float: left;'>
                <p style="margin:5%; float: left;">Rating</p>
                <star-rating value="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false"
                  style='margin-top:4%;float: left;' (rate)="onRate($event)"></star-rating>
                <button class='btn-primary btn' style='margin:5%; float: right;'>Pair Up</button>
              </div>
            </div>
            <div
              style='height: 40%; width: 80%; margin-top:5%; margin-left:10%;background-color: white; display: inline-block;'>
              <div style='width: 30%;  height: 100%; float: left;'>
                <img style="max-height: 233px;" src="../../../assets/person3.jpg">
              </div>
              <div style='width: 70%;  height: 70%; background-color: lightgrey; float: left;'>
                <p style='margin: 5%;'>Timothy Donald Cook (born November 1, 1960)[3] is an American business
                  executive and industrial engineer. Cook is the chief executive officer of Apple Inc., and previously
                  served as the company's chief operating officer under its cofounder Steve Jobs.[4]

                  Cook joined Apple in March 1998 as a senior vice president for worldwide operations.
                </p>
              </div>
              <div style='width: 70%;  height: 30%; background-color: lightgrey; float: left;'>
                <p style="margin:5%; float: left;">Rating</p>
                <star-rating value="3" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false"
                  style='margin-top:4%;float: left;' (rate)="onRate($event)"></star-rating>
                <button class='btn-primary btn' style='margin:5%; float: right;'>Pair Up</button>
              </div>
            </div>
            <div
              style='height: 40%; width: 80%; margin-top:5%; margin-left:10%;background-color: white; display: inline-block;'>
              <div style='width: 30%;  height: 100%; float: left;'>
                <img style="max-height: 233px;" src="../../../assets/person4.jpg">
              </div>
              <div style='width: 70%;  height: 70%; background-color: lightgrey; float: left;'>
                <p style='margin: 5%;'>Pichai was born in Madurai, Tamil Nadu, India in a Tamil Brahmin
                  family.[12][13] His mother Lakshmi was a stenographer and his father, Regunatha Pichai was an
                  electrical engineer at GEC, the British conglomerate. His father also had a manufacturing plant
                  that produced electrical components.[14][15] Pichai grew up in a two-room apartment in Ashok
                  Nagar, Chennai.
                </p>
              </div>
              <div style='width: 70%;  height: 30%; background-color: lightgrey; float: left;'>
                <p style="margin:5%; float:left;">Rating</p>
                <star-rating value="2" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false"
                  style='margin-top:4%;float: left;' (rate)="onRate($event)"></star-rating>
                <button class='btn-primary btn' style='margin:5%; float: right;'>Pair Up</button>
              </div>
            </div>
            <!-- <div style='height: 30%; width: 80%; margin-top:5%; margin-left:10%;background-color: white'>
                <div style='width: 30%;  height: 100%; float: left;'>
                  <img style="max-height: 232px;" src = "../../../assets/house2.jpg">
                </div>
                <div style='width: 70%;  height: 70%; background-color: lightgrey; float: left;'>
                </div>
              </div>
              <div style='height: 30%; width: 80%; margin-top:5%; margin-left:10%;background-color: white'>
                <div style='width: 30%;  height: 100%; float: left;'>
                  <img style="max-height: 232px;" src = "../../../assets/house3.jpg">
                  <div style='width: 70%;  height: 30%; background-color: lightgrey; float: left;'></div>
                </div>
                <div style='width: 70%;  height: 100%; background-color: lightgrey; float: left;'>
                </div> -->
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </main>

  </div>
</div>